select{
    //padding-right: 24px;
    //background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAALUlEQVQIW2OcOnXq/+zsbEYGHAAkD5bEpRAmDjcBXSEyH8UamAS6Bgy3YLMaAEd7IsRwrmjcAAAAAElFTkSuQmCC") no-repeat right 8px center;
    //background-size: 9px 5px;
    //-webkit-appearance: none;
    //-moz-appearance: none;
    //appearance: none;
  &:focus{
    outline: none;
  }
}

.bgGray{
  background: lighten($light-gray,2%);
}


.searchBox{
  position: relative;
  input{
    padding-right: 30px;
    margin-bottom: 0;
  }
  a{
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    right: 0;
    top: 0;
    color: $medium-gray;
    &:hover{
      color: $secondary-color;
    }
  }
}

//.form-inline{
//  display: inline-block;
//  max-width: 60px;
//  height: 30px;
//  margin-bottom: 0;
//  font-size: 13px;
//
//  &.w70{
//    max-width: 70px;
//  }
//}