{{#extend "default"}} {{#content "body"}}


<div class="row forum">
  <div class="small-12 medium-4 column">
    {{> forum-sidebar}}
  </div>
  <div class="small-12 medium-8 column">

    <div class="portlet boxShadow">
      <div class="porlet--body">
        <div class="forum__head">
          <ul class="breadcrumbs">
             {{#each metadata.breadcrumb}}
             <li><a href="{{slug}}">{{ten}}</a></li>
            {{/each}}
            <li>{{metadata.title}}</li>
          </ul>

          <h4 class="title">{{metadata.title}}</h4>
           {{#each (lookupChild AllCategory 'cac-benh.mat') }}
              {{#each this.metadata}}
                {{@key}}: {{this}}

              {{/each}}
           {{/each}}


          <div class="select--form">
              <select class="select2Search" data-placeholder="Tới chuyên mục" >
                <option value="">Mắt</option>
                <option value=" ">Tai mũi họng</option>
                <option value=" ">Tim mạch</option>
                <option value=" ">Thần kinh</option>
                <option value=" ">Dạ dày</option>
                <option value=" ">Tóc</option>
              </select>
          </div>

          

        </div>
        <p>{{metadata.mo_ta}} </p>
         
     
       
        <div class="text-right">
          <a href="" class="button mb0"> <i class="fa fa-edit"></i> Đặt câu hỏi </a>
        </div>


        <div class="portlet--chuyenmuc">

          <h5 class="color-primary">Các chủ đề</h5>
         

          <div class="row small-up-2 medium-up-3">
             {{#each (lookupChild AllCategory 'cac-benh.mat') }}

               <div class="column">
                  <a href="{{this.metadata.slug}}">{{this.metadata.title}}<i class="fa fa-angle-right "></i></a>
                </div>

           {{/each}}
          </div>

        </div>
        
        

      </div>
    </div>


      <div class="row">
        <div class="small-12 medium-6 column">
          <h4><i class="fa fa-comments-o"></i> Câu hỏi mới nhất</h4>
        </div>
        <div class="small-12 medium-6 column text-right">

          <ul class="pagination" role="navigation" aria-label="Pagination">
            <li class="pagination-previous disabled"> <i class="fa fa-angle-left"></i> <span class="show-for-small-only">Trang trước</span> <span class="show-for-sr">page</span></li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a href="#" aria-label="Page 3">3</a></li>
            <li><a href="#" aria-label="Page 4">4</a></li>
            <li class="ellipsis" aria-hidden="true"></li>
            <li><a href="#" aria-label="Page 13">13</a></li>
            <li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-small-only">Trang sau</span> <i class="fa fa-angle-right"></i>  <span class="show-for-sr">page</span></a></li>
          </ul>


        </div>
      </div>


      <div class="portlet  boxShadow" >
        <div class="porlet--comments">

          <div class="post">
            <h3 class="post__title"><a href="forum-cauhoi.html">Có nên mổ mắt laser cho trẻ không?</a></h3>
            <ul class="post__meta">
                <li>28 Tháng 7, 2016</li>
                <li>2522 lượt xem</li>
                <li>56 Phản hồi</li>
                <li>Bởi <a href="">Ngọc Trinh</a></li>
                <li><i class="fa fa-heart"></i> 256</li>
            </ul>
            <div class="post__content">
              Aliquam id dui facilisis, rhoncus nulla at, tristique ante. Nulla tristique sem mi, a aliquet nunc volutpat consequat. Cras ut nisi ut ligula fringilla luctus a quis nisi. Sed ut nulla ut augue consequat efficitur vel eget neque. Ut a felis placerat, vehicula eros sed, vulputate tortor.
            </div>
          </div>

          <div class="post">
            <h3 class="post__title"><a href="forum-cauhoi.html">Cách chữa loạn thị ?</a></h3>
            <ul class="post__meta">
              <li>28 Tháng 7, 2016</li>
              <li>2522 lượt xem</li>
              <li>56 Phản hồi</li>
              <li>Bởi <a href="">Ngọc Trinh</a></li>
              <li><i class="fa fa-heart"></i> 256</li>
            </ul>
            <div class="post__content">
              Aliquam id dui facilisis, rhoncus nulla at, tristique ante. Nulla tristique sem mi, a aliquet nunc volutpat consequat. Cras ut nisi ut ligula fringilla luctus a quis nisi. Sed ut nulla ut augue consequat efficitur vel eget neque. Ut a felis placerat, vehicula eros sed, vulputate tortor.
            </div>
          </div>


          <div class="post">
            <h3 class="post__title"><a href="forum-cauhoi.html">Chăm sóc hậu phẩu lasik?</a></h3>
            <ul class="post__meta">
              <li>28 Tháng 7, 2016</li>
              <li>2522 lượt xem</li>
              <li>56 Phản hồi</li>
              <li>Bởi <a href="">Ngọc Trinh</a></li>
              <li><i class="fa fa-heart"></i> 256</li>
            </ul>
            <div class="post__content">
              Aliquam id dui facilisis, rhoncus nulla at, tristique ante. Nulla tristique sem mi, a aliquet nunc volutpat consequat. Cras ut nisi ut ligula fringilla luctus a quis nisi. Sed ut nulla ut augue consequat efficitur vel eget neque. Ut a felis placerat, vehicula eros sed, vulputate tortor.
            </div>
          </div>



        </div>
      </div>

    <div class="text-center pa">
      <ul class="pagination" role="navigation" aria-label="Pagination">
        <li class="pagination-previous disabled"> <i class="fa fa-angle-left"></i> <span class="show-for-small-only">Trang trước</span> <span class="show-for-sr">page</span></li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis" aria-hidden="true"></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-small-only">Trang sau</span> <i class="fa fa-angle-right"></i>  <span class="show-for-sr">page</span></a></li>
      </ul>
    </div>

   

      


  </div>
</div>

<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}