{{#extend "default"}} {{#content "body"}}


<div class="row forum">
    <div class="small-12 medium-4 column">
        {{> forum-sidebar}}
    </div>
    <div class="small-12 medium-8 column">

        <div class="portlet boxShadow">
            <div class="porlet--body">
                <div class="forum__head">
                    <h3 class="title">Diễn đàn</h3>

                </div>

                <p class="forum__sub">{{gioi_thieu}} </p>

                <div class="text-right">
                    <a href="forum-datcauhoi.html" class="button mb0"><i class="fa fa-edit"></i>  Viết lên diễn đàn</a>
                </div>
            </div>
        </div>
        <div class="swiper-moz-slider swiper-container">

            <div class="swiper-wrapper">

                <div class="swiper-slide">

                    <div class="newsMoz">
                        {{#each ( indexOfFiles AllCategory.files slideShow.slug1) }}
                        <div class="newsMoz__item big">
                            <div class="newsMoz__wrap">
                                <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                    <a href="{{slug}}" class="newsMoz__url"></a>
                                </div>
                                <div class="newsMoz__title">
                                    {{#with (lookupCategory ../AllCategory category )}}
                                    <a href="{{href}}" class="link"></a>
                                    <span class="label"> {{metadata.title}} </span> {{/with}}
                                    <h3 class="txt">{{title}}</h3>
                                    <div class="date"><i class="fa fa-clock-o"></i> {{thoi_gian}}</div>

                                </div>
                            </div>
                        </div>
                        {{/each}}


                        <div class="small2-more">

                            {{#each ( indexOfFiles AllCategory.files slideShow.slug2) }}
                            <div class="newsMoz__item small">
                                <div class="newsMoz__wrap">
                                    <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                        <a href="{{slug}}" class="newsMoz__url"></a>
                                    </div>

                                    <div class="newsMoz__title">

                                        {{#with (lookupCategory ../AllCategory category )}}
                                        <a href="{{href}}" class="link"></a>
                                        <span class="label">{{metadata.title}}</span> {{/with}}
                                        <h3 class="txt">{{title}}</h3>
                                    </div>

                                </div>
                            </div>
                            {{/each}} {{#each ( indexOfFiles AllCategory.files slideShow.slug3) }}
                            <div class="newsMoz__item small">
                                <div class="newsMoz__wrap">
                                    <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                        <a href="{{slug}}" class="newsMoz__url"></a>
                                    </div>

                                    <div class="newsMoz__title">
                                        {{#with (lookupCategory ../AllCategory category )}}
                                        <a href="{{href}}" class="link"></a>
                                        <span class="label">{{metadata.title}}</span> {{/with}}
                                        <h3 class="txt">{{title}}</h3>
                                    </div>

                                </div>
                            </div>
                            {{/each}}

                        </div>


                    </div>

                </div>

                <div class="swiper-slide">

                    <div class="newsMoz">
                        {{#each ( indexOfFiles AllCategory.files slideShow.slug1) }}
                        <div class="newsMoz__item big">
                            <div class="newsMoz__wrap">
                                <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                    <a href="{{slug}}" class="newsMoz__url"></a>
                                </div>
                                <div class="newsMoz__title">
                                    {{#with (lookupCategory ../AllCategory category )}}
                                    <a href="{{href}}" class="link"></a>
                                    <span class="label"> {{metadata.title}} </span> {{/with}}
                                    <h3 class="txt">{{title}}</h3>
                                    <div class="date"><i class="fa fa-clock-o"></i> {{thoi_gian}}</div>

                                </div>
                            </div>
                        </div>
                        {{/each}}


                        <div class="small2-more">

                            {{#each ( indexOfFiles AllCategory.files slideShow.slug2) }}
                            <div class="newsMoz__item small">
                                <div class="newsMoz__wrap">
                                    <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                        <a href="{{slug}}" class="newsMoz__url"></a>
                                    </div>

                                    <div class="newsMoz__title">

                                        {{#with (lookupCategory ../AllCategory category )}}
                                        <a href="{{href}}" class="link"></a>
                                        <span class="label">{{metadata.title}}</span> {{/with}}
                                        <h3 class="txt">{{title}}</h3>
                                    </div>

                                </div>
                            </div>
                            {{/each}} {{#each ( indexOfFiles AllCategory.files slideShow.slug3) }}
                            <div class="newsMoz__item small">
                                <div class="newsMoz__wrap">
                                    <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                        <a href="{{slug}}" class="newsMoz__url"></a>
                                    </div>

                                    <div class="newsMoz__title">
                                        {{#with (lookupCategory ../AllCategory category )}}
                                        <a href="{{href}}" class="link"></a>
                                        <span class="label">{{metadata.title}}</span> {{/with}}
                                        <h3 class="txt">{{title}}</h3>
                                    </div>

                                </div>
                            </div>
                            {{/each}}

                        </div>


                    </div>

                </div>

            </div>

            <!-- Add Arrows -->
            <div class="moz-button-next"><i class="fa fa-angle-right"></i></div>
            <div class="moz-button-prev"><i class="fa fa-angle-left"></i></div>

        </div>

        <div class="adv">
            <img src="http://placehold.it/700x120" alt="">
        </div>


        <ul class="forum__table boxShadow">

            <li class="forum__table--row heading">
                <div class="forum__table--content">
                    <h3 class="forum__table--title ">Mới nhất</h3>

                </div>
                <div class="forum__table--view">
                    Lượt xem

                </div>
                <div class="forum__table--date">
                    Ngày đăng
                </div>
            </li>


            {{#each (first AllCategory.files 5)}}
            <li class="forum__table--row normal">
                <div class="forum__table--content">
                    <a href="{{this.slug}}" class="title">{{this.title}}</a>

                    <ul class="breadcrumbs">
                        {{#each (genBreadcrumb ../AllCategory category ) }}
                        <li><a href="{{this.href}}">{{this.metadata.title}}</a></li>
                        {{/each}}
                    </ul>

                </div>
                <div class="forum__table--view">
                    {{luot_xem}}
                </div>
                <div class="forum__table--date">
                    {{thoi_gian}}
                </div>
            </li>
            {{/each}}

        </ul>

        <div class="adv">
            <img src="http://placehold.it/700x120" alt="">
        </div>

        <ul class="forum__table boxShadow">

            <li class="forum__table--row heading">
                <div class="forum__table--content">
                    <h3 class="forum__table--title ">Đang sôi nổi</h3>

                </div>
                <div class="forum__table--view">
                    Lượt xem
                </div>
                <div class="forum__table--date">
                    Ngày đăng
                </div>
            </li>

            {{#each (last AllCategory.files 5)}}
            <li class="forum__table--row normal">
                <div class="forum__table--content">
                    <a href="{{this.link}}" class="title">{{title}}</a>

                    <ul class="breadcrumbs">
                        {{#each (genBreadcrumb ../AllCategory category ) }}
                        <li><a href="{{this.href}}">{{this.metadata.title}}</a></li>
                        {{/each}}
                    </ul>

                </div>
                <div class="forum__table--view">
                    {{luot_xem}}
                </div>
                <div class="forum__table--date">
                    {{thoi_gian}}
                </div>
            </li>
            {{/each}}

        </ul>


    </div>
</div>

<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}