{{#extend "default"}} {{#content "body"}}


<div class="row forum">
  <div class="small-12 medium-4 column">
    {{> forum-sidebar}}
  </div>
  <div class="small-12 medium-8 column">

    <div class="portlet boxShadow">
      <div class="porlet--body">
        <div class="forum__head">

          <ul class="breadcrumbs">
            <li><a href="forum-chuyentrang.html">Các bệnh</a></li>
            <li><a href="forum-chuyenmuc.html">Mắt</a></li>
            <li><a href="forum-chuyende.html">Mổ lasik</a></li>
            <li>{{title}}</li>
          </ul>

          <h4 class="title">Đau mắt đỏ</h4>
          <ul class="post__meta">
            <li>28 Tháng 7, 2016</li>
            <li>{{luot_xem}} lượt xem</li>
            <li>56 Phản hồi</li>
            <li>Bởi <a href="">{{nguoi_dang}}</a></li>
            <li><i class="fa fa-heart"></i> {{yeu_thich}}</li>
          </ul>


          <div class="select--form">
            <select class="select2Search" data-placeholder="Tới chuyên đề">
              <option value="">Đau mắt đỏ</option>
              <option value=" ">Loạn thị</option>
              <option value=" ">Tim mạch</option>
              <option value=" ">Đau mắt hột</option>
              <option value=" ">Đục thủy tinh thể</option>
              <option value=" ">Mổ lasik</option>
              <option value=" ">Cườm mắt</option>
            </select>
          </div>


        </div>


        {{{contents}}}

        <div class="post__label">

          <a href=""><span class=" label">Mổ lasik</span></a>
          <a href=""><span class=" label">Đau mắt</span></a>
          <a href=""><span class=" label">Cận thị</span></a>
        </div>

        <div class="post__author">
          <div class="post__author--img">
            <img src="images/profiles/8x.jpg" alt="">
          </div>

          <div class="post__auhor--content">
            <h3 class="post__auhor--name"><a href="">Trần Ngọc Trinh</a></h3>
            <p class="post__auhor--des">
              LGBT ally, author of Work. Pump. Repeat: The New Mom’s Survival Guide to Breastfeeding and Going Back to
              Work, mother, over-sharer, potty mouth
            </p>
          </div>

        </div>


        <div class="post__write">

          <div class="post__write--title">Viết bình luận</div>
          <div id="post__write--content">
            <textarea name="message" placeholder="" style="height:100px" ></textarea>

            <a href="" class="button mb0">Bình luận</a>
          </div>


        </div>

      </div>

{{> comments}}

    </div>

    


  </div>

















</div>

<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}