{{#extend "default"}} {{#content "body"}}


<div class="row forum">
  <div class="small-12 medium-4 column">
    {{> forum-sidebar}}
  </div>
  <div class="small-12 medium-8 column">


      <div class="row">
          <div class="small-12 medium-8 medium-offset-1">
              <h3 class="text-center">Đặt câu hỏi/ Tạo chủ đề</h3>
              <br>

              <input type="text" placeholder="Tên chủ đề">
              <div class="row small-up-1 medium-up-2">
                  <div class="column">
                      <select class="select2Search" data-placeholder="Chuyên mục" >
                          <option value="">Mắt</option>
                          <option value=" ">Tai mũi họng</option>
                          <option value=" ">Tim mạch</option>
                          <option value=" ">Thần kinh</option>
                          <option value=" ">Dạ dày</option>
                          <option value=" ">Tóc</option>
                      </select>

                  </div>
                  <div class="column">

                      <select class="select2Search" data-placeholder="Nhóm chủ đề" >
                          <option value="">Mắt</option>
                          <option value=" ">Tai mũi họng</option>
                          <option value=" ">Tim mạch</option>
                          <option value=" ">Thần kinh</option>
                          <option value=" ">Dạ dày</option>
                          <option value=" ">Tóc</option>
                      </select>

                  </div>
              </div>

              <br>

              <textarea name="" id="" cols="30" rows="10" placeholder="Câu hỏi"></textarea>

              <div class="text-center">
                  <a href="" class="button large ">Đăng</a>
              </div>
          </div>
      </div>


  </div>

















</div>

<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}