{{#extend "default"}} {{#content "body"}}


<div class="row forum">
    <div class="small-12 medium-4 column">
        {{> forum-sidebar}}
    </div>
    <div class="small-12 medium-8 column">

        <div class="portlet boxShadow">
            <div class="porlet--body">
                <div class="forum__head">


                    <h3 class="title">{{metadata.title}}</h3>

                    <ul class="breadcrumbs">
                        <li><a href="forum.html">Diễn đàn</a></li>
                        {{#each (genBreadcrumb AllCategory pagination.category ) }}
                        {{#if @last }}
                            <li>{{this.metadata.title}}</li>
                        {{else}}
                            <li><a href="{{this.href}}">{{this.metadata.title}}</a></li>
                        {{/if}}
                        {{/each}}

                    </ul>


                    <div class="select--form">
                        <select class="select2Search" data-placeholder="Tới chuyên mục khác">

                            <option value="">Mắt</option>
                            <option value=" ">Tai mũi họng</option>
                            <option value=" ">Tim mạch</option>
                            <option value=" ">Thần kinh</option>
                            <option value=" ">Dạ dày</option>
                            <option value=" ">Tóc</option>
                        </select>
                    </div>


                </div>
                <p class="forum__sub">{{metadata.mo_ta}} </p>


                <div class="text-right">
                    <a href="forum-datcauhoi.html" class="button mb0"> <i class="fa fa-edit"></i> Đặt câu hỏi </a>
                </div>





            </div>
        </div>


        <div class="row">
            <div class="small-12 column">


                <div class="swiper-moz-slider swiper-container">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide">

                            <div class="newsMoz">
                                {{#each (first (lookup ( lookupCategory AllCategory pagination.category ) 'files') 1) }}
                                <div class="newsMoz__item big">
                                    <div class="newsMoz__wrap">
                                        <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                            <a href="{{slug}}" class="newsMoz__url"></a>
                                        </div>
                                        <div class="newsMoz__title">
                                            {{#with (lookupCategory ../AllCategory category )}}
                                            <a href="{{href}}" class="link"></a>
                                            <span class="label"> {{metadata.title}} </span> {{/with}}
                                            <h3 class="txt">{{title}}</h3>
                                            <div class="date"><i class="fa fa-clock-o"></i> {{thoi_gian}}</div>

                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <div class="small2-more">

                                    {{#each (last (first (lookup ( lookupCategory AllCategory pagination.category ) 'files') 2) 1)}}
                                    <div class="newsMoz__item small">
                                        <div class="newsMoz__wrap">
                                            <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                                <a href="{{slug}}" class="newsMoz__url"></a>
                                            </div>

                                            <div class="newsMoz__title">
                                                {{#with (lookupCategory ../AllCategory category )}}
                                                <a href="{{href}}" class="link"></a>
                                                <span class="label">{{metadata.title}}</span> {{/with}}
                                                <h3 class="txt">{{title}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    {{/each}}

                                    {{#each (last (first (lookup ( lookupCategory AllCategory pagination.category ) 'files') 3) 1)}}
                                    <div class="newsMoz__item small">
                                        <div class="newsMoz__wrap">
                                            <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                                <a href="{{slug}}" class="newsMoz__url"></a>
                                            </div>

                                            <div class="newsMoz__title">
                                                {{#with (lookupCategory ../AllCategory category )}}
                                                <a href="{{href}}" class="link"></a>
                                                <span class="label">{{metadata.title}}</span> {{/with}}
                                                <h3 class="txt">{{title}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    {{/each}}

                                </div>




                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="newsMoz">
                                {{#each (first (lookup ( lookupCategory AllCategory pagination.category ) 'files') 1) }}
                                <div class="newsMoz__item big">
                                    <div class="newsMoz__wrap">
                                        <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                            <a href="{{slug}}" class="newsMoz__url"></a>
                                        </div>
                                        <div class="newsMoz__title">
                                            {{#with (lookupCategory ../AllCategory category )}}
                                            <a href="{{href}}" class="link"></a>
                                            <span class="label"> {{metadata.title}} </span> {{/with}}
                                            <h3 class="txt">{{title}}</h3>
                                            <div class="date"><i class="fa fa-clock-o"></i> {{thoi_gian}}</div>

                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <div class="small2-more">

                                    {{#each (last (first (lookup ( lookupCategory AllCategory pagination.category ) 'files') 2) 1)}}
                                    <div class="newsMoz__item small">
                                        <div class="newsMoz__wrap">
                                            <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                                <a href="{{slug}}" class="newsMoz__url"></a>
                                            </div>

                                            <div class="newsMoz__title">
                                                {{#with (lookupCategory ../AllCategory category )}}
                                                <a href="{{href}}" class="link"></a>
                                                <span class="label">{{metadata.title}}</span> {{/with}}
                                                <h3 class="txt">{{title}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    {{/each}}

                                    {{#each (last (first (lookup ( lookupCategory AllCategory pagination.category ) 'files') 3) 1)}}
                                    <div class="newsMoz__item small">
                                        <div class="newsMoz__wrap">
                                            <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
                                                <a href="{{slug}}" class="newsMoz__url"></a>
                                            </div>

                                            <div class="newsMoz__title">
                                                {{#with (lookupCategory ../AllCategory category )}}
                                                <a href="{{href}}" class="link"></a>
                                                <span class="label">{{metadata.title}}</span> {{/with}}
                                                <h3 class="txt">{{title}}</h3>
                                            </div>

                                        </div>
                                    </div>
                                    {{/each}}

                                </div>




                            </div>

                        </div>

                    </div>

                    <!-- Add Arrows -->
                    <div class="moz-button-next"><i class="fa fa-angle-right"></i></div>
                    <div class="moz-button-prev"><i class="fa fa-angle-left"></i></div>

                </div>


            </div>
        </div>

        <div class="adv">
            <img src="http://placehold.it/700x120" alt="">
        </div>

        <div class="portlet boxShadow">
            <div class="porlet--body">
                <div class="portlet--chuyenmuc">

                    <h5 class="color-primary">Các chủ đề</h5>

                    <div class="row small-up-2 medium-up-3" id="list-chude" data-toggler="show">
                        {{#each (lookup (lookupCategory AllCategory pagination.category ) 'children')}}
                        <div class="column">
                            <a href="{{this.href}}">{{metadata.title}} <i class="fa fa-angle-right "></i></a>
                        </div>


                        {{/each}}

                    </div>

                </div>

                <div class="porlet-loadmore">
                    <a data-toggle="list-chude" class="linkGray">Xem thêm »</a>
                </div>


            </div>
        </div>



        <div class="portlet  boxShadow">
            <div class="porlet--heading">
                <h3 class="porlet--title ">Câu hỏi mới nhất</h3>


                <ul class="pagination" role="navigation" aria-label="Pagination">
                    <li class="pagination-previous disabled"><i class="fa fa-angle-left"></i> <span
                            class="show-for-small-only">Trang trước</span> <span class="show-for-sr">page</span></li>
                    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                    <li><a href="#" aria-label="Page 2">2</a></li>
                    <li><a href="#" aria-label="Page 3">3</a></li>
                    <li><a href="#" aria-label="Page 4">4</a></li>
                    <li class="ellipsis" aria-hidden="true"></li>
                    <li><a href="#" aria-label="Page 13">13</a></li>
                    <li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-small-only">Trang sau</span>
                        <i class="fa fa-angle-right"></i> <span class="show-for-sr">page</span></a></li>
                </ul>


            </div>
            <div class="porlet--comments">
                {{#each pagination.files}}
                <div class="post">
                    <h3 class="post__title"><a href="./{{path}}">{{title}}</a></h3>

                    <div class="clearfix">

                        <ul class="post__meta pull-left">
                            <li>Đăng bởi  <a href="">{{nguoi_dang}}</a></li>
                            <li>{{thoi_gian}}</li>
                        </ul>

                        <ul class="post__meta pull-right">
                            <li><i class="fa fa-heart"></i> {{yeu_thich}}</li>
                            <li>{{luot_xem}} lượt xem</li>
                            <li>{{phan_hoi}} Phản hồi</li>
                        </ul>

                    </div>



                    <div class="post__content">
                        {{description}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="porlet--body">

                <div class="text-right">
                    <ul class="pagination mb0" role="navigation" aria-label="Pagination">
                        <li class="pagination-previous disabled"><i class="fa fa-angle-left"></i> <span
                                class="show-for-small-only">Trang trước</span> <span class="show-for-sr">page</span>
                        </li>
                        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                        <li><a href="#" aria-label="Page 2">2</a></li>
                        <li><a href="#" aria-label="Page 3">3</a></li>
                        <li><a href="#" aria-label="Page 4">4</a></li>
                        <li class="ellipsis" aria-hidden="true"></li>
                        <li><a href="#" aria-label="Page 13">13</a></li>
                        <li class="pagination-next"><a href="#" aria-label="Next page"><span
                                class="show-for-small-only">Trang sau</span> <i class="fa fa-angle-right"></i> <span
                                class="show-for-sr">page</span></a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}