{{#extend "default"}} {{#content "body"}}


<div class="row forum">
  <div class="small-12 medium-4 column">
    {{> forum-sidebar}}
  </div>
  <div class="small-12 medium-8 column">

    <div class="portlet boxShadow">
      <div class="porlet--body">
        <div class="forum__head baiviet">

          <h3 class="title">Có nên mổ lasik cho trẻ?</h3>
          <ul class="breadcrumbs">
            <li><a href="forum.html">Diễn đàn</a></li>
            <li><a href="forum-chuyentrang.html">Các bệnh</a></li>
            <li><a href="forum-chuyenmuc.html">Mắt</a></li>
            <li><a href="forum-chuyenmuc.html">Đau mắt đỏ</a></li>
          </ul>




          <div class="post__question">
            <a href="forum-datcauhoi.html" class="button">Đặt câu hỏi</a>
          </div>


        </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa massa. Praesent efficitur semper massa
          ac ultricies. Pellentesque vel laoreet turpis. Proin egestas vehicula suscipit. Integer imperdiet scelerisque
          sapien eget posuere.</p>

        <p> Pellentesque vel laoreet turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa
          massa. Praesent efficitur semper massa ac ultricies. Pellentesque vel laoreet turpis. Proin egestas vehicula
          suscipit. Integer imperdiet scelerisque sapien eget posuere. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Sed et massa massa. Praesent efficitur semper massa ac ultricies. </p>

        <!--<div class="post__label">-->

          <!--<a href=""><span class=" label">Mổ lasik</span></a>-->
          <!--<a href=""><span class=" label">Đau mắt</span></a>-->
          <!--<a href=""><span class=" label">Cận thị</span></a>-->
        <!--</div>-->

          <ul class="post__meta">
              <li>28 Tháng 7, 2016</li>
              <li>2522 lượt xem</li>
              <li>56 Phản hồi</li>
              <li>Bởi <a href="">Ngọc Trinh</a></li>
              <li><i class="fa fa-heart"></i> 256</li>
          </ul>

        <div class="post__author">
          <div class="post__author--img">
            <img src="images/profiles/8x.jpg" alt="">
          </div>

          <div class="post__auhor--content">
            <h3 class="post__auhor--name"><a href="">Trần Ngọc Trinh</a></h3>
            <p class="post__auhor--des">
              LGBT ally, author of Work. Pump. Repeat: The New Mom’s Survival Guide to Breastfeeding and Going Back to
              Work, mother, over-sharer, potty mouth
            </p>
          </div>

        </div>


        <div class="post__write">

          <div class="post__write--title">Viết bình luận</div>
          <div id="post__write--content">
            <textarea name="message" placeholder="" style="height:100px" ></textarea>

            <a href="" class="button mb0">Bình luận</a>
          </div>


        </div>

      </div>

{{> comments}}

    </div>

    


  </div>

















</div>

<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}