{{#extend "default"}} {{#content "body"}}
<div class="row forum">
  <div class="small-12 medium-4 column">
    {{> forum-sidebar}}
  </div>



  <div class="small-12 medium-8 column">

    <div class="portlet boxShadow">
      <div class="porlet--body">


      <div class="topicshow">
      <div class="topicheading">
        <div class="widgetright">
          <a style='display:none;' href="#" class="emailsubscription" data-id="c212c677-23b5-407f-94e5-a6a7009213c6" data-type="topic">
            <span class="fa fa-plus" aria-hidden="true"></span> Follow
          </a>
          <a href="#" class="emailunsubscription" data-id="c212c677-23b5-407f-94e5-a6a7009213c6" data-type="topic">
            <span class="fa fa-minus" aria-hidden="true"></span> UnFollow
          </a>
        </div>

        <h1>Cách sơ cứu bỏng đúng cách tại nhà?</h1>

        
        <ul class="topicinfo">
          <li>
            <span class="fa fa-eye" aria-hidden="true"></span> 1 Views
          </li>
          <li><span class="fa fa-commenting-o" aria-hidden="true"></span> Last Post 23 hours ago</li>
        </ul>


      </div>
      <div class="topicstarterpost">
        <div class="post solution-false post-d0888859-df6e-40c7-9cfa-a6a70092506c" data-id="d0888859-df6e-40c7-9cfa-a6a70092506c">


          <div class="rowcreater hidden-xs">
            <a id="comment-d0888859-df6e-40c7-9cfa-a6a70092506c"></a>
            <a href="/profile/admin/">
              <img src="images/profiles/8x.jpg"
                alt="admin">
            </a>
            <span class="label label-default">
                Admin
            </span>
            <span class="label label-success">
                Online
            </span>
          </div>



          <div class="rowdetails clearfix">
            <div class="postadmin">
              <button class="postoptions btn-mvc btn-mvc-fullwidth">View Post Options</button>
              <ul class="clearfix postadminlist">
                <li>
                  <a class="btn-mvc btn-mvc-small btn-mvc-fullwidth" href="?quote=d0888859-df6e-40c7-9cfa-a6a70092506c#createpost">
                            Quote
                        </a>
                </li>
                <li>
                  <a class="btn-mvc btn-mvc-small btn-mvc-fullwidth" onclick="return confirm('Are you sure you want to delete?')" href="/post/deletepost/d0888859-df6e-40c7-9cfa-a6a70092506c/">
                                Xóa
                            </a>
                </li>
                <li>
                  <a class="btn-mvc btn-mvc-small btn-mvc-fullwidth" href="/topic/editposttopic/d0888859-df6e-40c7-9cfa-a6a70092506c/">
                                Sửa
                            </a>
                </li>
                <li>
                  <a class="btn-mvc btn-mvc-small btn-mvc-fullwidth postshowattach" href="#">
                                Attach
                            </a>
                </li>
              </ul>
            </div>
            <div class="postdetails">
              <div class="postbodytop">
                <a class="postmember-d0888859-df6e-40c7-9cfa-a6a70092506c" href="/profile/admin/">admin</a> posted this 23
                hours ago
                <span class="hidden-xs">
                </span>
              </div>
              <div id="postcontent-d0888859-df6e-40c7-9cfa-a6a70092506c" class="postcontent">
                <p>
                  <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; line-height: 1.6; text-rendering: optimizeLegibility; color: #212121; font-family: Roboto, Arial, sans-serif;">Đầu ti&ecirc;n, cần x&aacute;c định mức độ bỏng trước khi sơ cứu, ở mỗi độ bỏng sẽ c&oacute; c&aacute;ch
                    sơ cứu kh&aacute;c nhau:</p>
                  <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; line-height: 1.6; text-rendering: optimizeLegibility; color: #212121; font-family: Roboto, Arial, sans-serif;"><strong style="box-sizing: inherit; line-height: inherit;">Bỏng nhẹ:</strong>&nbsp;Da chuyển m&agrave;u
                    đỏ, c&oacute; thể k&egrave;m theo sưng, đau hoặc biểu hiện loang lổ, đỏ nhiều, g&acirc;y đau v&agrave;
                    sưng nhiều, đường k&iacute;nh vết thương kh&ocirc;ng qu&aacute; 5-8cm. Khi đ&oacute; cần l&agrave;m m&aacute;t
                    vết bỏng bằng nước lạnh hoặc chườm lạnh &iacute;t nhất 5 ph&uacute;t rồi che phủ vết bỏng bằng băng gạc
                    v&ocirc; tr&ugrave;ng. Nếu thấy đau, c&oacute; thể cho uống một loại thuốc giảm đau kh&ocirc;ng cần k&ecirc;
                    đơn như aspirin, ibuprofen, naproxen (aleve)&hellip;</p>
                  <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; line-height: 1.6; text-rendering: optimizeLegibility; color: #212121; font-family: Roboto, Arial, sans-serif;"><em style="box-sizing: inherit; line-height: inherit;">Lưu &yacute;:</em></p>
                  <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; line-height: 1.6; text-rendering: optimizeLegibility; color: #212121; font-family: Roboto, Arial, sans-serif;"><em style="box-sizing: inherit; line-height: inherit;">Kh&ocirc;ng d&ugrave;ng đ&aacute; đặt trực tiếp l&ecirc;n vết bỏng v&igrave; c&oacute; thể g&acirc;y t&ecirc; c&oacute;ng v&agrave; l&agrave;m da tổn thương th&ecirc;m. Kh&ocirc;ng l&agrave;m vỡ bọng nước v&igrave; rất dễ nhiễm tr&ugrave;ng. Kh&ocirc;ng d&ugrave;ng aspirin cho trẻ em hoặc vị th&agrave;nh ni&ecirc;n</em></p>
                  <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; line-height: 1.6; text-rendering: optimizeLegibility; color: #212121; font-family: Roboto, Arial, sans-serif;"><img style="box-sizing: inherit; border: 0px; max-width: 100%; height: auto; display: inline-block; vertical-align: middle;"
                      src="http://medihub-forum.vinaas.com/img/so-cuu-bong.jpg" alt=""></p>
                  <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; line-height: 1.6; text-rendering: optimizeLegibility; color: #212121; font-family: Roboto, Arial, sans-serif;"><strong style="box-sizing: inherit; line-height: inherit;">Trường hợp bỏng nặng:</strong>&nbsp;Vết thương
                    c&oacute; đường k&iacute;nh lớn hơn 5-8cm hoặc bỏng ở c&aacute;c vị tr&iacute; như b&agrave;n tay, b&agrave;n
                    ch&acirc;n, mặt, bẹn, m&ocirc;ng, khớp lớn&hellip; Những vết bỏng nặng nhất thường kh&ocirc;ng đau v&agrave;
                    c&oacute; thể tổn thương ở tất cả c&aacute;c lớp da, mỡ, cơ v&agrave; thậm ch&iacute; v&agrave;o xương.
                    V&ugrave;ng bị thương c&oacute; thể ch&aacute;y đen hoặc kh&ocirc; v&agrave; trắng, bệnh nh&acirc;n kh&oacute;
                    h&iacute;t thở. Cần thực hiện c&aacute;c bước sơ cứu như sau:</p>
                  <ul style="box-sizing: inherit; margin: 0px 0px 1rem 1.25rem; padding: 0px; line-height: 1.6; list-style-position: outside; color: #212121; font-family: Roboto, Arial, sans-serif;">
                    <li style="box-sizing: inherit; margin: 0px; padding: 0px; font-size: inherit;">
                      <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; font-size: inherit; line-height: 1.6; text-rendering: optimizeLegibility;">Đưa bệnh nh&acirc;n ra khỏi v&ugrave;ng ch&aacute;y, kh&oacute;i v&agrave; nơi nhiệt độ n&oacute;ng.</p>
                    </li>
                    <li style="box-sizing: inherit; margin: 0px; padding: 0px; font-size: inherit;">
                      <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; font-size: inherit; line-height: 1.6; text-rendering: optimizeLegibility;">Kiểm tra c&aacute;c dấu hiệu tuần ho&agrave;n (thở, ho hoặc cử động), nếu cần thiết th&igrave; tiến
                        h&agrave;nh hồi sức cấp cứu. Che phủ v&ugrave;ng bỏng, d&ugrave;ng băng v&ocirc; tr&ugrave;ng sạch
                        ẩm, quần &aacute;o sạch ẩm hoặc khăn ẩm.</p>
                    </li>
                    <li style="box-sizing: inherit; margin: 0px; padding: 0px; font-size: inherit;">
                      <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; font-size: inherit; line-height: 1.6; text-rendering: optimizeLegibility;">Gọi ngay cấp cứu hoặc nhờ sự gi&uacute;p đỡ của nh&acirc;n vi&ecirc;n y tế gần nhất.</p>
                    </li>
                    <li style="box-sizing: inherit; margin: 0px; padding: 0px; font-size: inherit;">
                      <p style="box-sizing: inherit; margin: 0px 0px 1rem; padding: 0px; font-size: inherit; line-height: 1.6; text-rendering: optimizeLegibility;">Kh&ocirc;ng ng&acirc;m vết bỏng nặng v&agrave; diện t&iacute;ch rộng v&agrave;o nước lạnh v&igrave;
                        l&agrave;m như vậy c&oacute; thể g&acirc;y sốc.</p>
                    </li>
                  </ul>
                </p>
              </div>



              <div class="postsocial">
                <ul>
                  <li class="permalink">
                    <a href="/thread/cach-so-cuu-bong-dung-cach-tai-nha/?order=all#comment-d0888859-df6e-40c7-9cfa-a6a70092506c">
                                #Permalink
                            </a>
                  </li>
                  <li>
                    <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                    <span class="count">0</span>
                  </li>
                  <li>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="count">0</span>
                  </li>
                </ul>
              </div>

              <div class="posttags tagsinput">
                        <span class="tag"><span><a href="/tagged/notifications/">notifications</a></span></span>
                </div>
            
        
            </div>
          </div>
        </div>
      </div>
      <span id="newpostmarker"></span>
      <div id="createpostholder">
        <form action="/post/createpost/" data-ajax="true" data-ajax-begin="AjaxPostBegin()" data-ajax-failure="AjaxPostError(&#39;Error creating post&#39;)"
          data-ajax-loading="#createpostwait" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-success="AjaxPostSuccess()"
          data-ajax-update="#newpostmarker" id="postcodeform" method="post">
          <div class="editorholder">
            <script src="/scripts/tinymce/tinymce.min.js" type="text/javascript"></script>
            <script src="/Scripts/tinymceplugins/ImageUpload/imageupload.js" type="text/javascript"></script>
            <script type="text/javascript">        
        tinymce.init({
            selector: "textarea.rte",
            plugins: [
                "autosave link image lists hr anchor forumimageinsert",
                "wordcount visualblocks visualchars code fullscreen media nonbreaking"
            ],
            toolbar1: "bold italic underline strikethrough bullist hr | link unlink forumimageinsert code blockquote | formatselect",
            remove_linebreaks: false,
            relative_urls: false,
            menubar: false,
            toolbar_items_size: 'small',
            content_css: app_base + "content/tinymce.css",
            height: 175,
            nonbreaking_force_tab: true
            //setup: function(editor) {
            //    editor.on( 'keydown', function(editor, evt) {
            //        if (evt.keyCode == 9) {
            //            editor.execCommand('mceInsertContent', false, '&emsp;&emsp;');
            //            evt.preventDefault();
            //        }
            //    } );
            //}
        });

        // Language strings
        var buttonTitle = 'Insert Image';
        var buttonOk = 'Ok';
        var buttonClose = 'Close';
        var enterValidUrl = 'Please enter a valid url';
        var selectFile = 'Please select a file';
        var maxImageFileSize = 'Max image file size is 2mb';
        var onlyImages = 'Only JPEG, PNG and GIF images can be uploaded';
        var generalError = 'Sorry an error occured';
    </script>
            <div class="tinymceholder">
              <textarea class="rte" cols="20" data-val="true" data-val-length="The field PostContent must be a string with a maximum length of 6000."
                data-val-length-max="6000" id="PostContent" name="PostContent" rows="2">
</textarea>
            </div>
            <span class="field-validation-valid" data-valmsg-for="PostContent" data-valmsg-replace="true"></span>
          </div>
          <input type="submit" id="createpostbutton" class="btn-mvc-green btn-mvc-large" value="Add Post" />
          <span style="display: none;" id="createpostwait" class="ajaxspinner" title="Please Wait...">Please Wait...</span>
          <input data-val="true" data-val-required="The Topic field is required." id="Topic" name="Topic" type="hidden" value="c212c677-23b5-407f-94e5-a6a7009213c6"
          /><input id="InReplyTo" name="InReplyTo" type="hidden" value="" /></form>
      </div>
      <a id="createpost"></a>
      <input type="hidden" id="pageIndex" value="2" />
      <input type="hidden" id="topicId" value="c212c677-23b5-407f-94e5-a6a7009213c6" />
      <input type="hidden" id="totalPages" value="0" />
    </div>




      </div>
    </div>



    


    <div class="portlet boxShadow">
      <div class="porlet--body">
        <div class="forum__head baiviet">
          <h3 class="title">Có nên mổ lasik cho trẻ?</h3>
          <ul class="breadcrumbs">
            <li><a href="forum.html">Diễn đàn</a></li>
            <li><a href="forum-chuyentrang.html">Các bệnh</a></li>
            <li><a href="forum-chuyenmuc.html">Mắt</a></li>
            <li><a href="forum-chuyenmuc.html">Đau mắt đỏ</a></li>
          </ul>
          <div class="post__question">
            <a href="forum-datcauhoi.html" class="button">Đặt câu hỏi</a>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa massa. Praesent efficitur semper massa ac ultricies.
          Pellentesque vel laoreet turpis. Proin egestas vehicula suscipit. Integer imperdiet scelerisque sapien eget posuere.</p>
        <p> Pellentesque vel laoreet turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa massa. Praesent
          efficitur semper massa ac ultricies. Pellentesque vel laoreet turpis. Proin egestas vehicula suscipit. Integer
          imperdiet scelerisque sapien eget posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa
          massa. Praesent efficitur semper massa ac ultricies. </p>
        <!--<div class="post__label">-->
        <!--<a href=""><span class=" label">Mổ lasik</span></a>-->
        <!--<a href=""><span class=" label">Đau mắt</span></a>-->
        <!--<a href=""><span class=" label">Cận thị</span></a>-->
        <!--</div>-->
        <ul class="post__meta">
          <li>28 Tháng 7, 2016</li>
          <li>2522 lượt xem</li>
          <li>56 Phản hồi</li>
          <li>Bởi <a href="">Ngọc Trinh</a></li>
          <li><i class="fa fa-heart"></i> 256</li>
        </ul>
        <div class="post__author">
          <div class="post__author--img">
            <img src="images/profiles/8x.jpg" alt="">
          </div>
          <div class="post__auhor--content">
            <h3 class="post__auhor--name"><a href="">Trần Ngọc Trinh</a></h3>
            <p class="post__auhor--des">
              LGBT ally, author of Work. Pump. Repeat: The New Mom’s Survival Guide to Breastfeeding and Going Back to Work, mother, over-sharer,
              potty mouth
            </p>
          </div>
        </div>
        <div class="post__write">
          <div class="post__write--title">Viết bình luận</div>
          <div id="post__write--content">
            <textarea name="message" placeholder="" style="height:100px"></textarea>
            <a href="" class="button mb0">Bình luận</a>
          </div>
        </div>
      </div>
      {{> comments}}
    </div>
  </div>
</div>
<!--end FORUM HOMEPAGE-->
{{/content}} {{/extend}}