{{#extend "default"}} {{#content "body"}}


<div class="row forum">
  <div class="small-12 medium-4 column">
    {{> forum-sidebar}}
  </div>
  <div class="small-12 medium-8 column">

      <div class="searchPage">


          <h2>Đã tìm thấy: a - 22 Kết quả</h2>
          <div class="post searchpost solution-false post-24ed46e8-1603-4b39-b31f-a6ac009a628c" data-id="24ed46e8-1603-4b39-b31f-a6ac009a628c">

              <div class="rowcreater hidden-xs">
                  <a id="comment-24ed46e8-1603-4b39-b31f-a6ac009a628c"></a>
                  <a href="/profile/admin/">
                      <img src="//www.gravatar.com/avatar/b490a5811190aa9895f60265a3f7b0eb?s=50&amp;d=identicon&amp;r=PG" alt="admin">
                  </a>
              </div>

              <div class="rowdetails clearfix">

                  <div class="postdetails">
                      <h5 class="topiccategory">
                          <a href="/cat/chuyen-tham-kin/">Chuyện thầm kín</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="/thread/xuat-tinh-21-lan-moi-thang-se-giam-nguy-co-ung-thu-tuyen-tien-liet/?order=all#comment-24ed46e8-1603-4b39-b31f-a6ac009a628c">Xuất tinh 21 lần mỗi tháng sẽ giảm nguy cơ ung thư tuyến tiền liệt</a>
                      </h5>
                      <div class="postbodytop">
                          <a class="postmember-24ed46e8-1603-4b39-b31f-a6ac009a628c" href="/profile/admin/">admin</a>
                          posted this
                          ng&#224;y trước
                      </div>

                      <div id="postcontent-24ed46e8-1603-4b39-b31f-a6ac009a628c" class="postcontent">
                          <p><h3 class="short_intro txt_666" style="margin: 0px; padding: 0px 0px 10px; color: #444444; font-stretch: normal; font-size: 14px; line-height: 18px; font-family: arial; width: 660.016px; text-rendering: geometricPrecision;">Nam giới từ 20 đến 29 tuổi xuất tinh 21 lần mỗi th&aacute;ng sẽ giảm 19% nguy cơ ung thư tuyến tiền liệt, theo một nghi&ecirc;n cứu tại Mỹ.</h3>

                          </p>

                      </div>

                      <div class="postsocial">
                          <ul>
                              <li>
                                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                  <span class="count">0</span>
                              </li>
                              <li>
                                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                  <span class="count">0</span>
                              </li>

                              <li>
                                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                  <span class="count">0</span>
                              </li>


                          </ul>

                      </div>


                      <div class="postuploadedfilesholder clearfix">
                          <p>Attached Files</p>
                          <ul>
                              <li>
                                  <a class="fileupload" href="/content/uploads/017f6ea7-d1c0-45d5-9724-a6aa0042e104/11357ff0-f08d-4fd5-bf60-a6ac009a6296_nam-gioi-1967-1476928353.jpg">
                                      <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                  </a>
                              </li>
                          </ul>
                      </div>



                  </div>




              </div>
          </div>

          <div class="post searchpost solution-false post-100e56bc-b6ac-4cda-97fa-a6ac0099d9ab" data-id="100e56bc-b6ac-4cda-97fa-a6ac0099d9ab">

              <div class="rowcreater hidden-xs">
                  <a id="comment-100e56bc-b6ac-4cda-97fa-a6ac0099d9ab"></a>
                  <a href="/profile/admin/">
                      <img src="//www.gravatar.com/avatar/b490a5811190aa9895f60265a3f7b0eb?s=50&amp;d=identicon&amp;r=PG" alt="admin">
                  </a>
              </div>

              <div class="rowdetails clearfix">

                  <div class="postdetails">
                      <h5 class="topiccategory">
                          <a href="/cat/song-khoe-moi-ngay/">Sống khỏe mỗi ngày</a> <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="/thread/dau-hieu-som-canh-bao-ban-mac-benh-lupus-ban-do/?order=all#comment-100e56bc-b6ac-4cda-97fa-a6ac0099d9ab">Dấu hiệu sớm cảnh báo bạn mắc bệnh lupus ban đỏ</a>
                      </h5>
                      <div class="postbodytop">
                          <a class="postmember-100e56bc-b6ac-4cda-97fa-a6ac0099d9ab" href="/profile/admin/">admin</a>
                          posted this
                          ng&#224;y trước
                      </div>

                      <div id="postcontent-100e56bc-b6ac-4cda-97fa-a6ac0099d9ab" class="postcontent">
                          <p><h3 class="short_intro txt_666" style="margin: 0px; padding: 0px 0px 10px; color: #444444; font-stretch: normal; font-size: 14px; line-height: 18px; font-family: arial; width: 660.016px; text-rendering: geometricPrecision;">Lupus c&oacute; thể xuất hiện đột ngột hoặc từ từ sau nhiều th&aacute;ng, nhiều năm với c&aacute;c triệu chứng sớm như gầy s&uacute;t, mệt mỏi, sốt nhẹ, rụng t&oacute;c, đau khớp, ph&aacute;t ban da&hellip;</h3>

                          <p class="Normal" style="margin: 0px 0px 1em; padding: 0px; line-height: 18px; text-rendering: geometricPrecision; color: #333333; font-family: arial;">Theo&nbsp;<em style="margin: 0px; padding: 0px;">Boldsky</em>, lupus l&agrave; một trong những căn bệnh đ&aacute;ng sợ. Đ&acirc;y l&agrave; bệnh tự miễn mạn t&iacute;nh, kh&ocirc;ng r&otilde; nguy&ecirc;n nh&acirc;n, g&acirc;y tổn thương hầu hết hệ cơ quan trong cơ thể v&agrave; trong trường hợp nặng c&oacute; thể đe dọa t&iacute;nh mạng người bệnh. Ở người mắc lupus, hệ miễn dịch kh&ocirc;ng gi&uacute;p cơ thể chống lại sự x&acirc;m nhập của c&aacute;c t&aacute;c nh&acirc;n lạ, g&acirc;y bệnh m&agrave; quay ra chống lại cơ thể bằng c&aacute;ch sinh ra c&aacute;c kh&aacute;ng thể kh&aacute;ng lại tế b&agrave;o của hầu hết cơ quan.</p>


                          </p>

                      </div>

                      <div class="postsocial">
                          <ul>
                              <li>
                                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                  <span class="count">0</span>
                              </li>
                              <li>
                                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                  <span class="count">0</span>
                              </li>

                              <li>
                                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                  <span class="count">0</span>
                              </li>


                          </ul>

                      </div>

                      <div class="posttags tagsinput">
                          <span class="tag"><span><a href="/tagged/benh-lupus-ban-%c4%91o/">bệnh-lupus-ban-đỏ</a></span></span>
                      </div>

                      <div class="postuploadedfilesholder clearfix">
                          <p>Attached Files</p>
                          <ul>
                              <li>
                                  <a class="fileupload" href="/content/uploads/017f6ea7-d1c0-45d5-9724-a6aa0042e104/59486f5f-f859-431a-89df-a6ac0099d9b4_14804971-1778705205751015-2046-5062-7544-1476848493.jpg">
                                      <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                  </a>
                              </li>
                          </ul>
                      </div>



                  </div>




              </div>
          </div>



      </div>

    


  </div>

















</div>

<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}