{{#extend "default"}} {{#content "body"}}


<div class="mainSearch">

    <div class="bgSlider">
        <!-- Swiper -->
        <div class="swiper-container swiper-bg-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('images/slider/slider1.png')"></div>
                <div class="swiper-slide" style="background-image: url('images/slider/slider3.png')"></div>
                <div class="swiper-slide" style="background-image: url('images/slider/slider5.png')"></div>
                <div class="swiper-slide" style="background-image: url('images/slider/slider2.png')"></div>
                <div class="swiper-slide" style="background-image: url('images/slider/slider4.png')"></div>
                <div class="swiper-slide" style="background-image: url('images/slider/slider6.png')"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">

            <div class="swiper-container swiper-txt-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><h2 class="text-center mainSearch__title ">Tìm phòng khám, bác sĩ gần
                        nhất</h2></div>
                    <div class="swiper-slide"><h2 class="text-center mainSearch__title ">Danh sách bác sĩ giỏi</h2>
                    </div>
                    <div class="swiper-slide"><h2 class="text-center mainSearch__title ">Chất lượng điều trị tốt</h2>
                    </div>
                    <div class="swiper-slide"><h2 class="text-center mainSearch__title ">Cuộc sống dễ dàng</h2></div>
                    <div class="swiper-slide"><h2 class="text-center mainSearch__title ">Danh sách bác sĩ giỏi</h2>
                    </div>
                    <div class="swiper-slide"><h2 class="text-center mainSearch__title ">Chất lượng điều trị tốt</h2>
                    </div>

                </div>
            </div>
        </div>

        {{> searchForm}}

    </div>

</div>

</div>


<!--FORUM HOMEPAGE-->
<div class="forumFixed">
    <nav class="forumHome__nav boxShadowLess">
        <h4 class="text-center forumHome__nav--logo"><a href="forum.html"><i class="fa fa-comments-o"></i> DIỄN ĐÀN</a>
        </h4>
    </nav>


    <div class="row">
        <div class="small-12 column">
            <div class="newsRun swiper-container">
                <div class="swiper-wrapper">

                    {{#each (first news 10)}}
                    <div class="swiper-slide">
                        <div class=" newsRun__item boxShadowLess clearfix">
                            <a href="{{this.link}}">
                                <div class="newsRun__img">
                                    <img
                                            src="{{this.img}}"
                                            alt="{{this.title}}">
                                </div>
                                <div class="newsRun__txt">
                                    {{this.title}}
                                </div>
                            </a>
                        </div>
                    </div>


                    {{/each}}
                </div>
            </div>

            {{> news-moz}}

        </div>
    </div>

    <div class="row">
        <div class="medium-4 small-12 column">
            <div class="portlet boxShadow">
                <div class="porlet--heading primary">
                    <h3 class="porlet--title ">Thành viên năng động</h3>
                </div>

                <div class="porlet--body bottom-5">
                    <div class="row small-up-1 medium-up-2 large-up-2">

                        {{#each (first users 12)}}
                        <div class="column">
                            <div class="user user--small">
                                <a href="{{this.link}}">
                                    <div class="user__pic">
                                        <img alt="{{this.name}}" width="30" height="30" src="{{this.img}}">
                                    </div>
                                    <h5 class="user__name text-ellipsis">{{this.name}}</h5>
                                    <div class="user__comment"><i class="fa fa-comment-o"></i> {{this.comments}}</div>
                                </a>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>

        <div class="small-12 medium-8 column">
            <div class="portlet boxShadow">
                <div class="porlet--body">

                    <div class="row align-justify align-middle">

                        <div class="column small-12 large-8 text-center">

                            <div class="row align-justify align-middle">

                                <div class="column small-4 text-center">

                                    <div class="forum__number">
                                        <div class="txt">Đang xem</div>
                                        <div class="num dangxem">256 <i class="fa fa-users"></i></div>
                                    </div>

                                </div>

                                <div class="column small-4 text-center">

                                    <div class="forum__number">
                                        <div class="txt">Hỏi</div>
                                        <div class="num hoi">8735 <i class="fa fa-question-circle"></i></div>
                                    </div>

                                </div>
                                <div class="column small-4 text-center">

                                    <div class="forum__number last">
                                        <div class="txt">Trao đổi</div>
                                        <div class="num giaoluu">915 <i class="fa fa-comments-o"></i></div>
                                    </div>

                                </div>

                            </div>

                        </div>


                        <div class="column small-12 medium-12 large-4 text-center">

                            <a href="forum.html" class="button mb0 ">Vào xem diễn đàn &nbsp; <i
                                    class="fa fa-angle-right"></i></a>

                        </div>
                    </div>

                    <!--<div class="row">
                      <div class="medium-8 small-12 column align-self-middle">

                              <div class="forum__number">
                                  <div class="txt">Đang xem</div>
                                  <div class="num dangxem">256 <i class="fa fa-users"></i></div>
                              </div>

                              <div class="forum__number">
                                  <div class="txt">Hỏi</div>
                                  <div class="num hoi">8735 <i class="fa fa-question-circle"></i></div>
                              </div>

                              <div class="forum__number last">
                                  <div class="txt">Trao đổi</div>
                                  <div class="num giaoluu">915 <i class="fa fa-comments-o"></i></div>
                              </div>

                      </div>
                      <div class="medium-4 small-12 column align-self-middle">

                        <a href="forum.html" class="button expanded mb0">Vào xem diễn đàn &nbsp;  <i class="fa fa-angle-right "></i></a>

                      </div>
                    </div>-->
                </div>
            </div>

            <div class="row" data-equalizer data-equalize-on="medium">
                <div class="column small-12 medium-6">

                    <div class="portlet boxShadow porlet--relative" data-equalizer-watch>
                        <div class="porlet--heading primary">
                            <h3 class="porlet--title ">Viết lên diễn đàn</h3>
                        </div>

                        <div class="porlet--body">
                            <div class="row collapse ">
                                <div class="shrink columns">
                                    <img src="images/paper-note.png" width="55" alt="" style=" margin: 5px 9px 0 15px">
                                </div>
                                <div class="columns">
                                    <p>Bạn có thể đặt câu hỏi với các chuyên gia, các bác sĩ, và trao đổi thông tin với
                                        các thành viên khác trên diễn đàn.</p>

                                </div>
                            </div>

                        </div>

                        <div class="text-center button-absolute">
                            <a href="forum.html" class="button mb20"><i class="fa fa-edit"></i> Viết lên diễn đàn </a>
                        </div>
                    </div>
                </div>

                <div class="column small-12 medium-6">

                    <div class="portlet boxShadow porlet--relative" data-equalizer-watch>
                        <div class="porlet--heading primary">
                            <h3 class="porlet--title ">Tìm trên diễn đàn</h3>
                        </div>

                        <div class="porlet--body">
                            <p>Bạn có thể tìm thấy thông tin cần thiết trong các bài viết trên diễn đàn.</p>
                            <input type="text" placeholder="Bạn muốn tìm" class="bgGray">
                        </div>

                        <div class="text-center button-absolute">
                            <a href="forum.html" class="button mb20"><i class="fa fa-search"></i> Tìm trên diễn đàn</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="medihubApp">

        <div class="row">
            <div class="small-12 columns text-center">
                <h3>Tìm mọi lúc mọi nơi với Medihub App</h3>

                <h5 class="fontLight">Hơn 20 ngàn người đã và đang sử dụng medihub app</h5>

                <ul class="listInline clearList medihubApp_button">
                    <li><a href=""><img src="images/icon-appStore.png" alt=""></a></li>
                    <li><a href=""><img src="images/icon-googlePlay.png" alt=""></a></li>
                </ul>

            </div>
        </div>
    </div>

</div>


<!--end FORUM HOMEPAGE-->

{{/content}} {{/extend}}