{{#extend "default"}} {{#content "body"}}
<div class="page-404">

  <div class="row">
  <div class="small-12 medium-6 columns">
    <div class="error404 text-center">404</div>
  </div>


  <div class="small-12 medium-6 columns">


      <div class="page-404-head">
        <h4>Ooopps.! The Page you were looking for, couldn't be found.</h4>
        <p>Try searching for the best match or browse the links below:</p>
      </div>


      <form action="#" method="get" role="form" class="nobottommargin">
        <div class="searchBox">
          <input type="search" placeholder="Bạn muốn tìm" class="bgGray">
          <a href=""><i class="fa fa-search"></i></a>
        </div>
      </form>

      <br>
      <br>


      <div class="row small-up-2 medium-up-2">
        <div class="column">
          <ul class="listCircle">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
        <div class="column">
           <ul class="listCircle">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
       
      </div>

  </div>
  </div>
  
</div>

  {{/content}} {{#content "scripts"}} {{/content}} {{/extend}}