
<div class="comments">
    <div class="comment">
        <div class="comment-figure" style="background-image: url('images/profiles/8x.jpg') ">
        </div>

        <div class="comment-body">
            <h6 class="comment-name">T Duy</h6>
            <div class="comment-date">15 phút trước</div>
            <div class="comment-content">Cũng muốn đi lấy thường xuyên nhưng nói thật là vấn đề vệ sinh dụng cụ y tế ở Việt Nam còn chưa làm mọi người yên tâm thật sự đâu.</div>

            <div class="comment-meta">
                <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>
                <a href="" class="reply-comment-btn"><i class="fa fa-thumbs-o-up"></i> Thích</a>

                <div class="comment-replay">
                    <div class="comment-body">
                        <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                    
                        <div class="text-right">
                            <a class="button alert" href="#">Gửi bình luận</a>
                        </div>


                    </div>
                </div>
            </div>



            <div class="comment">
                <div class="comment-figure" style="background-image: url('') "> M
                </div>

                <div class="comment-body">
                    <h6 class="comment-name admin">Medihub - Quản Trị Viên</h6>
                    <div class="comment-date"><span class=" alert label">ADMIN</span> 4 phút trước </div>
                    <div class="comment-content">Sao mà ko an tâm hả bạn, thế bạn đi bvien chưa? Bạn đong tiền bảo hiểm, 6 tháng vô bvien lấy vôi răng 1 lần, chi phí bảo hiểm lo hết ko tốn xu nào. Mà làm thì kĩ vô cùng hơn mấy phòng khám răng tư nhân gấp 10 lần.</div>

                    <div class="comment-meta">
                        <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>
                        <a href="" class="reply-comment-btn"><i class="fa fa-thumbs-o-up"></i> Thích</a>

                        <div class="comment-replay">
                            <div class="comment-body">
                                <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                              
                                <div class="text-right">
                                    <a class="button alert" href="#">Gửi bình luận</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment">
                <div class="comment-figure" style="background-image: url('images/profiles/2.png') ">
                </div>

                <div class="comment-body">
                    <h6 class="comment-name">Nguyễn Văn Y</h6>
                    <div class="comment-date"><span class=" primary label">BÁC SĨ</span> 15 phút trước</div>
                    <div class="comment-content">Chào bạn!
                        Trước kia mìnnh có đi lấy vôi răng vài lần, nhưng gần 10 năm nay không đi nữa nhưng lạ thay răng lại trắng và sạch đẹp hơn lúc trước nhiều. Tự lấy răng ra ngoài đánh nên nó sạch lắm</div>

                    <div class="comment-meta">
                        <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>
                        <a href="" class="reply-comment-btn"><i class="fa fa-thumbs-o-up"></i> Thích</a>

                        <div class="comment-replay">
                            <div class="comment-body">
                                <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                               
                                <div class="text-right">
                                    <a class="button alert" href="#">Gửi bình luận</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="comment-loadmore"><a href=""> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>-->


        </div>
    </div>

    <div class="comment">
        <div class="comment-figure" style="background-image: url('images/profiles/bb.jpg') ">
        </div>

        <div class="comment-body">
            <h6 class="comment-name">Phạm Tùng</h6>
            <div class="comment-date">30 phút trước</div>
            <div class="comment-content">Bác sỹ nha khoa lại khuyên tôi dùng chỉ nha khoa sau khi chải răng. vậy ai đúng đây ?</div>

            <div class="comment-meta">
                <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>
                <a href="" class="reply-comment-btn"><i class="fa fa-thumbs-o-up"></i> Thích</a>

                <div class="comment-replay">
                    <div class="comment-body">
                        <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                       
                        <div class="text-right">
                            <a class="button alert" href="#">Gửi bình luận</a>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--<div class="comment-loadmore"><a href=""> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>-->

</div>