
<div class="comments">
    <div class="comment">
        <div class="comment-figure" style="background-image: url('https://philipwalton.github.io/solved-by-flexbox/images/kitten.jpg') ">
        </div>

        <div class="comment-body">
            <h6 class="comment-name">Nguyễn Việt Hùng</h6>
            <div class="comment-date">15 phút trước</div>
            <div class="comment-content">Praesent efficitur semper massa ac ultricies. Pellentesque vel laoreet turpis. Proin egestas vehicula suscipit. Integer imperdiet scelerisque sapien eget posuere</div>

            <div class="comment-meta">
                <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>

                <div class="comment-replay">
                    <div class="comment-body">
                        <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                    
                        <div class="text-right">
                            <a class="button alert" href="#">Gửi bình luận</a>
                        </div>


                    </div>
                </div>
            </div>



            <div class="comment">
                <div class="comment-figure" style="background-image: url('') "> V
                </div>

                <div class="comment-body">
                    <h6 class="comment-name admin">Medihub - Quản Trị Viên</h6>
                    <div class="comment-date"><span class="round alert label">ADMIN</span> 4 phút trước </div>
                    <div class="comment-content">Chào bạn!
                        Pellentesque vel laoreet turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa massa.</div>

                    <div class="comment-meta">
                        <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>

                        <div class="comment-replay">
                            <div class="comment-body">
                                <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                              
                                <div class="text-right">
                                    <a class="button alert" href="#">Gửi bình luận</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment">
                <div class="comment-figure" style="background-image: url('') "> V
                </div>

                <div class="comment-body">
                    <h6 class="comment-name">Roger Federer</h6>
                    <div class="comment-date">15 phút trước</div>
                    <div class="comment-content">Chào bạn!
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa massa. Praesent efficitur semper massa ac ultricies.</div>

                    <div class="comment-meta">
                        <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>

                        <div class="comment-replay">
                            <div class="comment-body">
                                <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                               
                                <div class="text-right">
                                    <a class="button alert" href="#">Gửi bình luận</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="comment-loadmore"><a href=""> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>-->


        </div>
    </div>

    <div class="comment">
        <div class="comment-figure" style="background-image: url('https://philipwalton.github.io/solved-by-flexbox/images/kitten.jpg') ">
        </div>

        <div class="comment-body">
            <h6 class="comment-name">Nguyễn Việt Hùng</h6>
            <div class="comment-date">15 phút trước</div>
            <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et massa massa. Praesent efficitur semper massa ac ultricies. Pellentesque vel laoreet turpis. Proin egestas vehicula suscipit. Integer imperdiet scelerisque sapien eget posuere.</div>

            <div class="comment-meta">
                <a href="" class="reply-comment-btn"><i class="fa fa-reply"></i> Phản hồi</a>

                <div class="comment-replay">
                    <div class="comment-body">
                        <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                       
                        <div class="text-right">
                            <a class="button alert" href="#">Gửi bình luận</a>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--<div class="comment-loadmore"><a href=""> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>-->

</div>