<div class="forum__sidebar">

  <div class="forum__logo boxShadow clearfix">
    <h4 class="forumHome__nav--logo"><a href="forum.html"><i class="fa fa-comments-o"></i> DIỄN ĐÀN</a></h4>
  </div>

  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Hoạt động</h3>


    </div>

    <ul class="porlet--menu">
      <li class="active"><a href="">Thông báo</a></li>
      <li><a href="">Góp ý</a></li>
      <li><a href="">Tin tức</a></li>
    </ul>

    <div class="porlet--search">
      <div class="searchBox">
        <input type="search" placeholder="Bạn muốn tìm" class="bgGray">

        <a href=""><i class="fa fa-search"></i></a>
      </div>

    </div>

  </div>

  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Hỏi bác sĩ</h3>

      <div class="forum__number">
        <div class="num hoi"> 1580 <i class="fa fa-question-circle"></i></div>
      </div>
    </div>

    <ul class="porlet--menu scroll" style="max-height: 190px">
      <!--<li><a href="/cac-benh">Các bệnh <span class="number--list">({{length (lookup (lookupCategory AllCategory 'cac-benh') 'files') }})</span></a></li>-->
      <li><a href="/so-cap-cuu">Sơ cấp cứu <span class="number--list">({{length (lookup (lookupCategory AllCategory 'so-cap-cuu') 'files') }})</span></a></li>
      <li><a href="/nhi-khoa">Nhi khoa<span class="number--list">({{length (lookup (lookupCategory AllCategory 'nhi-khoa') 'files') }})</span></a></li>
      <li><a href="/ho-hap-&-hen-xuyen">Hô hấp & hen xuyễn <span class="number--list">({{length (lookup (lookupCategory AllCategory 'ho-hap-&-hen-xuyen') 'files') }})</span></a></li>
      <li><a href="/co-xuong-khop">Cơ xương khớp <span class="number--list">({{length (lookup (lookupCategory AllCategory 'co-xuong-khop') 'files') }})</span></a></li>
      <li><a href="/phu-khoa-&-suc-khoe-sinh-san">Phụ khoa &amp; Sức khỏe sinh sản <span class="number--list">({{length (lookup (lookupCategory AllCategory 'phu-khoa-&-suc-khoe-sinh-san') 'files') }})</span></a></li>
      <li><a href="/nha-khoa">Nha Khoa <span class="number--list">({{length (lookup (lookupCategory AllCategory 'nha-khoa') 'files') }})</span></a></li>
      <li><a href="/tim-mach">Tim Mạch <span class="number--list">({{length (lookup (lookupCategory AllCategory 'tim-mach') 'files') }})</span></a></li>
      <li><a href="/tieu-duong">Tiểu Đường <span class="number--list">({{length (lookup (lookupCategory AllCategory 'tieu-duong') 'files') }})</span></a></li>
      <li><a href="/viem-gan">Viêm Gan <span class="number--list">({{length (lookup (lookupCategory AllCategory 'viem-gan') 'files') }})</span></a></li>
      <li><a href="/tham-my-&-da-lieu">Thẩm Mỹ & Da Liễu <span class="number--list">({{length (lookup (lookupCategory AllCategory 'tham-my-&-da-lieu') 'files') }})</span></a></li>
      <li><a href="/dinh-duong">Dinh Dưỡng <span class="number--list">({{length (lookup (lookupCategory AllCategory 'dinh-duong') 'files') }})</span></a></li>
      <li><a href="/tam-ly-&-than-kinh">Tâm Lý &amp; Thần Kinh <span class="number--list">({{length (lookup (lookupCategory AllCategory 'tam-ly-&-than-kinh') 'files') }})</span></a></li>
      <li><a href="/chuyen-tham-kin">Chuyện thầm kín <span class="number--list">({{length (lookup (lookupCategory AllCategory 'chuyen-tham-kin') 'files') }})</span></a></li>
    </ul>
  </div>


  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Diễn đàn sức khỏe</h3>

      <div class="forum__number">
        <div class="num giaoluu">345 <i class="fa fa-users"></i></div>
      </div>
    </div>

    <ul class="porlet--menu scroll" style="max-height: 120px">
      <li><a href="/song-khoe-moi-ngay">Sống khỏe mỗi ngày <span class="number--list">({{length (lookup (lookupCategory AllCategory 'song-khoe-moi-ngay') 'files') }})</span></a></li>
      <li><a href="/lam-cha-me">Làm Cha Mẹ <span class="number--list">({{length (lookup (lookupCategory AllCategory 'lam-cha-me') 'files') }})</span></a></li>
      <li><a href="/dinh-duong-cho-moi-nguoi">Dinh dưỡng cho mọi người <span class="number--list">({{length (lookup (lookupCategory AllCategory 'dinh-duong-cho-moi-nguoi') 'files') }})</span></a></li>
      <li><a href="/dich-vu-y-te">Dịch vụ y tế <span class="number--list">({{length (lookup (lookupCategory AllCategory 'dich-vu-y-te') 'files') }})</span></a></li>
      <li><a href="/kinh-nghiem-kham-chua-benh">Kinh nghiệm khám chữa bệnh <span class="number--list">({{length (lookup (lookupCategory AllCategory 'kinh-nghiem-kham-chua-benh') 'files') }})</span></a></li>
      <li><a href="/cuoc-song-lua-doi">Cuộc sống lứa đôi <span class="number--list">({{length (lookup (lookupCategory AllCategory 'cuoc-song-lua-doi') 'files') }})</span></a></li>
    </ul>
  </div>

  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Tủ thuốc online</h3>

      <div class="forum__number">
        <div class="num giaoluu">915 <i class="fa fa-users"></i></div>
      </div>
    </div>

    <ul class="porlet--menu scroll" style="max-height: 120px">
      <li><a href="/thiet-bi-y-te-gia-dinh">Thiết bị y tế gia đình<span class="number--list">({{length (lookup (lookupCategory AllCategory 'thiet-bi-y-te-gia-dinh') 'files') }})</span></a></li>
      <li><a href="/thuc-pham-chuc-nang">Thực phẩm chức năng <span class="number--list">({{length (lookup (lookupCategory AllCategory 'thuc-pham-chuc-nang') 'files') }})</span></a></li>
      <li><a href="/y-hoc-co-truyen">Y học cổ truyền<span class="number--list">({{length (lookup (lookupCategory AllCategory 'y-hoc-co-truyen') 'files') }})</span></a></li>
      <li><a href="/thuoc-tay">Thuốc tây <span class="number--list">({{length (lookup (lookupCategory AllCategory 'thuoc-tay') 'files') }})</span></a></li>
      <li><a href="/my-pham">Mỹ phẩm<span class="number--list">({{length (lookup (lookupCategory AllCategory 'my-pham') 'files') }})</span></a></li>
    </ul>
  </div>
  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Tư vấn trực tuyến</h3>

      <div class="forum__number">
        <div class="num giaoluu">982 <i class="fa fa-users"></i></div>
      </div>
    </div>

    <ul class="porlet--menu scroll" style="max-height: 120px">
      <!--<li><a href="forum-chuyentrang.html">Chăm sóc sức khỏe <span class="number--list">(45)</span></a></li>
      <li><a href="forum-chuyentrang.html">Mẹo vặt & Kinh nghiệm <span class="number--list">(23)</span></a></li>
      <li><a href="forum-chuyentrang.html">Mua sắm & Dịch vụ <span class="number--list">(12)</span></a></li>-->
    </ul>
  </div>


  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Thành viên năng động</h3>
    </div>

    <div class="porlet--body bottom-5">
      <div class="row small-up-1 medium-up-2 large-up-2">

        {{#each collections.thanh_vien }}
        <div class="column">
          <div class="user user--small">
            <a href="{{this.link}}">
              <div class="user__pic">
                <img alt="{{this.ten}}" width="30" height="30" src="{{this.hinh_anh}}">
              </div>
              <h5 class="user__name text-ellipsis">{{this.ten}}</h5>
              <div class="user__comment"><i class="fa fa-comment-o"></i> {{this.binh_luan}}</div>
            </a>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>


  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
    width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <br>
  <br>

</div>