<div class="forum__sidebar">

  <div class="forum__logo boxShadow clearfix">
    <h4 class="forumHome__nav--logo"><i class="fa fa-comments-o"></i> DIỄN ĐÀN</h4>
  </div>

  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Hoạt động</h3>

      <div class="forum__number">
        <div class="num dangxem">256 <i class="fa fa-users"></i></div>
      </div>
    </div>

    <ul class="porlet--menu">
      <li class="active"><a href="">Thông báo</a></li>
      <li><a href="">Góp ý</a></li>
    </ul>

    <div class="porlet--search">
      <div class="searchBox">
        <input type="search" placeholder="Bạn muốn tìm" class="bgGray">

        <a href=""><i class="fa fa-search"></i></a>
      </div>

    </div>

  </div>

  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Hỏi chuyên gia</h3>

      <div class="forum__number">
        <div class="num hoi"> {{length (lookup AllCategory.root 'files' )  }} <i class="fa fa-question-circle"></i></div>
      </div>
    </div>

    <ul class="porlet--menu">
      <li><a href="forum-chuyentrang.html">Các bệnh</a></li>
      <li><a href="forum-chuyentrang.html">Mẹ và bé</a></li>
      <li><a href="forum-chuyentrang.html">Ăn uống</a></li>
      <li><a href="forum-chuyentrang.html">Luyện tập</a></li>
      <li><a href="forum-chuyentrang.html">Sắc đẹp</a></li>
    </ul>
  </div>


  <div class="portlet boxShadow">
    <div class="porlet--heading">
      <h3 class="porlet--title ">Giao lưu & Chia sẻ</h3>

      <div class="forum__number">
        <div class="num giaoluu">915 <i class="fa fa-users"></i></div>
      </div>
    </div>

    <ul class="porlet--menu">
      <li><a href="forum-chuyentrang.html">Chăm sóc sức khỏe</a></li>
      <li><a href="forum-chuyentrang.html">Mẹo vặt & Kinh nghiệm</a></li>
      <li><a href="forum-chuyentrang.html">Mua sắm & Dịch vụ</a></li>
    </ul>
  </div>

  <div class="portlet boxShadow">
    <div class="porlet--heading primary">
      <h3 class="porlet--title ">Thành viên năng động</h3>
    </div>

    <div class="porlet--body bottom-5">
      <div class="row small-up-1 medium-up-2 large-up-2">

        {{#each (first users 12)}}
        <div class="column">
          <div class="user user--small">
            <a href="{{this.link}}">
              <div class="user__pic">
                <img alt="{{this.name}}" width="30" height="30" src="{{this.img}}">
              </div>
              <h5 class="user__name text-ellipsis">{{this.name}}</h5>
              <div class="user__comment"><i class="fa fa-comment-o"></i> {{this.comments}}</div>
            </a>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
  </div>


  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <br>
  <br>

</div>