<div class="newsMoz">
   {{#each (first (lookup ( lookupCategory AllCategory 'cac-benh') 'files') 1 )}}
   <div class="newsMoz__item big">
    <div class="newsMoz__wrap">
      <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
        <a href="" class="newsMoz__url"></a>
      </div>
      <div class="newsMoz__title">
        <a href="" class="link"></a>
        <span class="label"> {{ category }}</span>
        <h3 class="txt">{{title}}</h3>
        <div class="date"><i class="fa fa-clock-o"></i> 1 tháng 5, 2017</div>

      </div>
    </div>
  </div>
   {{/each}}
  
 {{#each (last  (lookup ( lookupCategory AllCategory 'cac-benh') 'files') 1 )}}
  <div class="newsMoz__item medium">
    <div class="newsMoz__wrap">
      <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
        <a href="" class="newsMoz__url"></a>
      </div>
      <div class="newsMoz__title">
        <a href="" class="link"></a>
        <span class="label">MẮT</span>
        <h3 class="txt">{{title}}</h3>
      </div>
    </div>
  </div>
{{/each}}


  <div class="small2">
    {{#each (last (lookup ( lookupCategory AllCategory 'cac-benh.mat') 'files') 2 )}}
    <div class="newsMoz__item small">
      <div class="newsMoz__wrap">
        <div class="newsMoz__img" style="background-image: url({{hinh_anh}})">
          <a href="" class="newsMoz__url"></a>
        </div>

        <div class="newsMoz__title">
          <a href="" class="link"></a>
          <span class="label">MẮT</span>
          <h3 class="txt">{{title}}</h3>
        </div>

      </div>
    </div>

    
{{/each}}
  </div>
  


</div>