<div class="searchForm clearfix">
  <div class="searchForm--1">
    <select class="select2Normal" data-placeholder="Chọn (Bác sĩ/ Phòng khám)" rv-value="selectedFilter.chon">
      <option value=""></option>
      {{#each searchForm.bacsi-phongkham}}
       <option value="{{loai}}" >{{ten}}</option>
      {{/each}}
    </select>
  </div>
  <div class="searchForm--2">
    <select class="select2Search" data-placeholder="Bệnh, Triệu chứng, Chuyên khoa" rv-value="selectedFilter.chon">
      <option value="" selected></option>
      {{#each searchForm.trieu-chung-benh}}
        <option value="{{this.name}}" >{{this.ten}}</option>
      {{/each}}
    </select>
  </div>
  <div class="searchForm--3">
    <select class="select2Search" data-placeholder="Tỉnh, Thành phố">
      <option value="" selected></option>
      <option value="bacsi">TP. Hồ Chí Minh</option>
      <option value="phongkham">Hà nội</option>
      <option value="phongkham">Khánh Hòa</option>
      <option value="phongkham">Bình Định</option>
      <option value="phongkham">Nha Trang</option>
    </select>
  </div>
  <div class="searchForm--4">
    <select class="select2Search" data-placeholder="Khu vực">
      <option value="" selected></option>
      <option value="bacsi">Quận 1</option>
      <option value="phongkham">Quận 2</option>
    </select>
  </div>
  <div class="searchForm--5">
    <a class="button searchForm--button" onclick="Gui()"><i class="fa fa-search"></i> Tìm kiếm</a>
  </div>

</div>
<script>var data = {{#rivetData}}{{rivetData}}{{/rivetData}};
  rivets.bind(document.querySelector('body'), data);
</script>
<script>
function Gui() {
  console.log('gui data', data.selectedFilter);
  console.log('gui data', data.selectedFilter.benh);
}
</script>
