.comments{
  padding: 15px;
//   background: $white;
  margin-bottom: 10px;
  font-size: rem-calc(13);
}
.comments-sort{
  padding: 0 10px 0;
  background: $white;
  select{
    max-width: 150px;
    border:none;
    border-bottom: 1px solid $light-gray;
  }
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;

  .comment{
    background: $bg-gray-light;
    padding: 10px;
    margin-bottom: 0;
    position: relative;

    .comment-meta{
      margin-bottom: 0;

    }

    &:before{
      content: '';
      position: absolute;
      top: -10px;
      left: 14px;
      width: 0;
      height: 0;
      border-bottom: 10px solid $bg-gray-light;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
}

.comment-figure {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: $medium-gray;

  background-size: cover;

  text-align: center;
  line-height: 30px;
  color: $dark-gray;
  font-weight: bold;
}

.comment-body {
  flex: 1;
  overflow: hidden;
}
.comment-name{
  font-weight: bold;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}
.comment-date{
  color: $dark-gray;
  font-size: rem-calc(12);
  margin-bottom: 5px;
}
.comment-meta{
  margin-bottom: 10px;
  font-size: rem-calc(13);
  input,textarea{
    margin: 0 0 0.5rem;
  }

  a:not(.button){
    display: inline-block;
    padding: 5px 10px 5px 0;
    color: $medium-gray;
    &:hover{
        color: $black;
    }
  }
}

.comments-form{
  padding: 0 10px 0;
  background: transparent;
  .comment{
    margin-bottom: 0;
  }

  textarea, input{
    margin: 0 0 0.5rem;
  }
}
.comment-content{
    text-align: justify;
}
.comment-captcha{
  margin-bottom: 10px;
}

.comment-loadmore{
  padding: 5px 10px;
  background:transparent;
  a{
    color: $secondary-color;
    font-size: rem-calc(13);
  }
}


.comment-replay{
  display: none;
  padding:10px;
  background: $bg-gray-light;
  a{
      margin-bottom: 0;
  }
}

.comment{
  .comment{
    .comment-replay{
      padding: 0;
    }
  }
}
