.article {
  background: white;
  padding: 15px;
  position: relative;
  margin-bottom: $margin-box;
  &.detail {
    padding: 20px;
    .article--main {
      flex-flow: row wrap;
    }
    .article--thumbnail {
      width: 180px;
      height: 180px;
      @include breakpoint(small down) {
        width: 150px;
        height: 150px;
        text-align: center;
        display: inline-block;
      }
    }
    .article--column_1 {
      flex: 0 0 200px;
      @include breakpoint(small down) {
        flex: 0 0 100%;
        text-align: center;
      }
    }
    .article--column_2 {
      @include breakpoint(small down) {
        flex: 0 0 100%;
      }
    }
    .article--position {
      font-size: rem-calc(16px);
      margin-bottom: -8px;
    }
    .article--title {
      @include header-size(h4);
      margin-bottom: 0;
      .label-bh {
        top: -7px;
      }
    }
    .article-address {
      margin-bottom: 10px;
    }
    .article-service {
      font-size: rem-calc(16px);
      font-weight: bold;
      margin-bottom: 10px;
    }
    .article--bookmark {
      right: 20px;
      top: 20px;
      font-size: 1.2em;
    }
    .article--heart {
      text-align: left;
      a {
        font-size: 1.1em;
      }
      @include breakpoint(small down) {
        padding: 10px 0 0;
      }
    }
  }
}

.article--main {
  display: flex;
}

.article--bookmark {
  position: absolute;
  right: 15px;
  top: 12px;
  color: $medium-gray;
  @include breakpoint(small down) {
    span {
      display: none
    }
    right: 10px;
    top: 10px;
  }
  i {
    font-size: 1.2em;
    vertical-align: -8%;
    padding-right: 4px;
    font-weight: bold;
  }
  .fa-bookmark,
  .da-luu,
  .fa-spinner {
    display: none;
  }
  &.is-save {
    .fa-bookmark-o,
    .luu {
      display: none;
    }
    .fa-bookmark,
    .da-luu {
      display: inline-block;
      color: $primary-color;
    }
  }
  &.is-loading {
    .fa-spinner {
      display: inline-block;
    }
    .fa-bookmark-o,
    .fa-bookmark {
      display: none;
    }
  }
}

.article--meta {
  display: flex;
}

.article--column_1 {
  flex: 0 0 110px;
  @include breakpoint(small down) {
    flex: 0 0 70px;
  }
}

.article--column_2 {
  flex: 2;
}

.article--column_sub {
  display: flex;
  justify-content: space-between;
  @include breakpoint(small) {
    flex-wrap: wrap;
  }
}

.article--column_sub_1 {
  padding-right: 20px;
  flex: 2;
  min-width: 200px;
  margin-bottom: 5px;
}

.article--column_sub_2 {
  flex: 0 0 180px;
  margin-bottom: 5px;
  @include breakpoint(small down) {}
}

.article--thumbnail {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  background: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
  margin-bottom: 10px;
  @include breakpoint(small down) {
    width: 60px;
    height: 60px;
  }
}

.article--heart {
  display: inline;
  cursor: pointer;
  font-size: rem-calc(13px);
  color: $secondary-color;
  i {
    color: $alert-color;
  }
  .fa {
    display: none;
  }
  .fa-heart-o {
    display: inherit;
  }
  &:hover {
    .fa-heart-o {
      display: none;
    }
    .fa-heart {
      display: inherit;
    }
  }
  &.is-like {
    .fa {
      display: none;
    }
    .fa-heart {
      display: inherit;
    }
    .num {
      color: $alert-color;
    }
  }
  &.is-loading {
    .fa {
      display: none;
    }
    .fa-spinner {
      display: inline-block;
    }
  }
}

// @keyframes like {
//   0% {
//     transform: scale(0.1);
//   }
//   15% {
//     transform: scale(1.1);
//   }
// }
.article--sponsor {
  font-size: 10px;
  color: $success-color;
}

.article--main {
  font-size: rem-calc(13px);
  color: $secondary-color;
}

.article--title {
  @include header-size(h5);
  font-weight: bold;
  margin-bottom: 5px;
  color: $primary-color;
  padding-right: 50px;
  @include breakpoint(small down) {
    padding-right: 40px;
  }
}

.article-service {
  font-weight: 500;
  margin-bottom: 3px;
}

.article-gallery {
  position: relative;
  @include clearfix;
  ul {
    margin-bottom: 0;
    line-height: 0;
    float: left;
  }
  li {
    margin-right: 3px;
    a {
      display: block;
      height: 35px;
      width: 35px;
      background-size: cover;
      border-radius: 3px;
    }
    &:last-child {
      margin-right: 3px;
    }
  }
  @include breakpoint(small down) {
    display: none;
  }
}

.article-gallery-popover {
  display: none;
  .swiper-gallery-slider {
    width: 100%;
    height: 200px;
    margin: 20px auto 0;
    .swiper-slide {
      width: auto;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.article--price {
  .icon {
    display: block;
    float: left;
  }
  .meta {
    margin-left: 20px;
  }
}

.article--date {
  .icon {
    display: block;
    float: left;
  }
  .meta {
    margin-left: 20px;
  }
}

.article--button {
  margin-bottom: 0;
}

.article--position {
  font-size: rem-calc(12px);
  text-transform: uppercase;
  margin-bottom: -3px;
  font-weight: bold;
  @include breakpoint(small down) {
    margin-top: 5px;
  }
}

.article--drop {
  background: $bg-gray-light;
  padding: 15px 15px;
  text-align: center;
  margin-top: $margin-box;
  display: none;
}

.article-lite {
  padding: 10px;
  position: relative;
  margin-bottom: $margin-box;
  color: $secondary-color;
  background: white;
  .article--position {
    font-size: rem-calc(12px);
  }
  .article--title {
    font-size: rem-calc(15px);
    margin-bottom: 0;
    @extend .text-ellipsis;
  }
  .article--thumbnail {
    margin-bottom: 0;
    width: 85px;
    height: 85px;
    float: left;
    margin-right: 10px;
  }
  .article-service {
    font-weight: normal;
    @extend .text-ellipsis;
  }
  &:hover {
    .delete-article {
      opacity: 1;
    }
  }
}

.porlet .article-lite {
  &:hover {
    .delete-article {
      opacity: 0;
    }
  }
}

.delete-article {
  opacity: 0;
  overflow: visible;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  z-index: 2;
  box-shadow: none;
  touch-action: manipulation;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: $light-gray;
  font-style: normal;
  font-size: 20px;
  font-family: Arial, Baskerville, monospace;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  &:hover {
    color: white;
  }
}

.portlet {
  margin-bottom: $margin-box;
  background: white;
}

.porlet--heading {
  padding: 10px 15px;
  border-bottom: 1px solid $light-gray;
  position: relative;
  &.primary {
    border-bottom: none;
    padding-bottom: 0;
    .porlet--title {
      color: $primary-color;
    }
  }
  .forum__number {
    position: absolute;
    right: 10px;
    top: 10px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .pagination {
    position: absolute;
    right: 5px;
    top: 5px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.porlet--title {
  font-weight: bold;
  margin-bottom: 0;
  @include header-size(h5);
  @extend .text-ellipsis;
}

.porlet--body {
  padding: 15px 15px;
  &.gray {
    background: $bg-gray-light;
  }
  &.no-pd {
    padding: 0 0;
  }
  &.bottom {
    padding-bottom: 0;
  }
  &.bottom-5 {
    padding-bottom: 5px;
  }
  &.top {
    padding-top: 0;
  }
}

.porlet--comments {
  padding: 0 15px;
}

.porlet-loadmore {
  font-style: italic;
  color: $secondary-color;
  text-align: right;
  font-size: rem-calc(12px);
}

.porlet--menu {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  li {
    margin-bottom: 3px;
    a {
      display: block;
      border-left: 4px solid transparent;
      padding: 5px 11px;
      color: $secondary-color;
      &:hover {
        background: $bg-gray-light;
        border-left-color: $primary-color;
      }
    }
    &.active {
      a {
        background: $bg-gray-light;
        border-left-color: $primary-color;
      }
    }
  }
}

.porlet--search {
  padding: 0 15px 15px;
  //border-top: 1px solid $light-gray;
}

.portlet--chuyenmuc {
  // border-top : 1px solid $light-gray;
  // margin-top: 15px;
  // padding : 15px 0 0;
  a {
    display: block;
    margin-bottom: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $black;
    i {
      color: $medium-gray;
    }
    &:hover {
      color: $primary-color;
    }
  }
}

#chuyendieutri {
  overflow: hidden;
  max-height: 90px;
  transition: all 0.1s;
  &.show {
    height: 100% !important;
    max-height: none;
  }
}
