// FORUM HOMEPAGE
.forumHome__nav{
    height: 60px;
    background: white;
    margin-bottom: $margin-box;
    .is-sticky &{
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 9999;
    }
}
.forumHome__nav--logo{
    margin-bottom: 0;
    line-height: 60px;
    text-align: center;
}

.newsRun{
    //overflow: hidden;
    //white-space: nowrap;
    padding-bottom: $margin-box;
    //.newsRun__item:first-child{
    //  margin-left: 0;
    //}
  .swiper-slide{
    width: 300px;
  }
}
.newsRun__item{
    width: 300px;
    display: inline-block;
    padding: 10px;
    position: relative;
    background: white;
    //margin: 0 5px;
    &:hover{
        .newsRun__txt{
            margin-left: 80px;
            margin-top: 7px;
            height: 44px;
            overflow: hidden;
            color: $primary-color;
        }
    }
}

.newsRun__img{
    max-width: 70px;
    float: left;
}

.newsRun__txt{
    margin-left: 80px;
    margin-top: 7px;
    height: 44px;
    white-space: initial;
    overflow: hidden;
    color: $secondary-color;
}

.newsMoz{
    @extend .clearfix;
    margin-bottom: $margin-box;
    &:first-child{
        padding-left: 0;
    }
    // &:last-child{
    //     padding-right: 0;
    // }


    .small2{
        width: 25%;
        height: 388px;
        float: left;
        .newsMoz__item{
            padding-right: 0;
        }
    }

    .small2-more{
      width: 50%;
      height: 388px;
      float: left;
      .newsMoz__item{
        padding-right: 0;
      }
    }
}
.newsMoz__item{
    padding: 2px;
    
    &.big{
        width: 50%;
        height: 388px;
        float: left;
        padding-left: 0;

        .newsMoz__title{
            .txt{
                margin-top: 5px;
                font-size: rem-calc(24px);
                line-height: 1.1;
            }
        }
    }
    &.medium{
        width: 25%;
        height: 388px;
        float: left;
    }
    
    &.small{
        width: 100%;
        height: 194px;
    }

    &:hover{
        .newsMoz__url{
            background: rgba(0,0,0,0.2);
        }
        .newsMoz__title .label{
            background: rgba($primary-color,0.7);
            margin-bottom: 5px;
        }
    }
}

.newsMoz__wrap{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
    &:after{
    bottom: 0;
    content: "";
    display: block;
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    }
}

.newsMoz__img{
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-color: #cacaca;
    
}

.newsMoz__url{
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: relative;
    transition: all 0.2s ease-in;
}

.newsMoz__title{
    line-height: 21px;
    color: white;
    position: absolute;
    display: block;
    z-index: 100;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 17px 18px;
    .txt{
        margin-top: 5px;
        font-size: rem-calc(16px);
        line-height: 1.1;
        margin-bottom: 0;
    }
    .label{
        background: rgba(0,0,0,0.7);
        margin-bottom: 5px;
        transition: all 0.2s ease-in;
    }
    .date{
        margin-top: 5px;
    }
    .link{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}


.mb0{
    margin-bottom: 0
}

.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.forum__number{
    text-align: center;
    display: inline-block;
    // padding-right: 60px;
    padding-top: 9px;
    padding-bottom: 9px;


    &.last{
        padding-right: 0;
    }
    .txt{
        font-size: rem-calc(13px);
        color: $medium-gray;
    }
    .num{
        @include header-size(h4);
        font-weight: bold;
        line-height: 1.1;
        &.dangxem{
            color:$primary-color;
        }
        &.hoi{
            color:$success-color;
        }
        &.giaoluu{
            color:$alert-color;
        }
        i{
            vertical-align: 15%;
            font-weight: normal;
            color: $secondary-color;
            font-size: rem-calc(16px);
        }
    }
}

.porlet--relative{
        position: relative;
        padding-bottom: 53px;
    .button-absolute{
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
}


// end FORUM HOMEPAGE

//FOR USER
.user{
    @extend .clearfix;
    &:hover{
        .user__name{
            color: $primary-color;
        }
    }
}
.user--small{
    margin-bottom: 10px;
}
.user__pic{
    float: left;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
}
.user__name{
    font-size: rem-calc(12px);
    margin-bottom: 1px;
    padding-top: 1px;
    color: $secondary-color;
}
.user__comment{
     font-size: rem-calc(12px);
     color: $medium-gray;
}
//end FOR USER


.forum{
    margin-top: $margin-box;
}

.forum__sidebar{

}
.forum__logo{
  background: white;
  padding: 10px 15px;
  border-bottom: 1px solid $light-gray;
  .forumHome__nav--logo{
    line-height: normal;
    color: $primary-color;
    @include header-size(h5)
  }
}

.forum__table{
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: $margin-box;
  list-style: none;
  background: white;
  color: $secondary-color;
}

.forum__table--row{
  display: flex;
  align-items: center;
  &.heading{
    padding: 10px 15px;
    border-bottom: 1px solid $light-gray;
    background: $bg-gray-light;
  }
  &.normal{
    padding: 10px 0;
    margin: 0 15px;
    border-bottom: 1px solid $light-gray;
  }

  &.normal.space{
    padding: 20px 0;
  }
}

.forum__table--title{
  margin: 0;
  color: $black;
  @include header-size(h6);
  i{
    padding-right:5px;
  }
}

.forum__table--content{
  flex-grow: 1;
  .title{
    color: $black;
    &:hover{
      color: $primary-color;
    }
  }
  .breadcrumbs{
    margin-bottom: 0;
  }

}
.forum__table--view{
  flex: 0 0 100px;
}
.forum__table--date{
  flex: 0 0 80px;
}
.forum__sub{
  @include header-size(h5);
}

.forum__head{
    position: relative;
    padding-right: 180px;
  .title{
    color: $primary-color;
    font-weight: normal;
    //margin-bottom: 0;
  }

  .select--form{
    width: 160px;
    position: absolute;
    right: 0;
    top: 6px;
    .select2-selection--single{
    }
  }
}

.forumFixed{
    background: $bg-gray-light;
    position: relative;
    z-index: 1;

    #sticky-wrapper{
margin-bottom: $margin-box;
    }
    
}


//COMMENT

.post__meta {
  @include breadcrumbs-container;

  .disabled {
    color: $breadcrumbs-item-color-disabled;
    cursor: not-allowed;
  }
}

.post__meta li:not(:last-child)::after{
  color: #9e9e9e;
  content: "|";
  margin: 0 0.3rem;
  position: relative;
  top: 0px;
  opacity: 1;
}
.post__meta li{
  text-transform: inherit;
  color: $medium-gray;
}

.post__meta{

  .fa-heart{
    color: $alert-color;
  }
}

.post__meta a{
  color: $medium-gray;

  &:hover{
    color: $dark-gray;
    text-decoration: none;
  }
}

.porlet--comments{
  .post:last-child{
    border-bottom: none;
  }
}

.post{
  padding: 15px 0 20px;
  border-bottom: 1px solid $light-gray;
  color: $secondary-color;
}
.post__title{
  @include header-size(h5);
}

.post__content{

}
.post__label{
  .label{
    background: $light-gray;
    color: $black;
    cursor: pointer;
    transition : all 0.2s;
    &:hover{
      background: $secondary-color;
      color: white;
    }
  }
}

.post__author{
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  border: 1px solid $light-gray;
  border-width: 1px 0 1px 0;

  margin-bottom: $margin-box;
}

.post__author--img{
  width: 65px;
  height: 65px;
  border-radius: 3px;
  overflow: hidden;
  flex: 1 0 auto;

}

.post__auhor--content{
  margin-left: 15px;
  font-size: rem-calc(13);

}

.post__auhor--name{
  @include header-size(h6);
  margin-bottom: 0;
  a{
    color: $dark-gray;
    &:hover{
      color: $primary-color;
    }
  }
}
.post__auhor--des{
  margin-bottom: 0;
  color: $medium-gray;
}


.post__write{
  border: 1px solid $medium-gray;
  border-radius: $global-radius;
  padding: 15px;
  background: lighten($light-gray,2%);
  @extend .transition;
  textarea{
    padding: 0;
    border: none;
    background: transparent;
  }

  &.active{
    .post__write--title{
      padding: 0 0 10px;
      @include header-size(h6);
    }
    background: white;
    #post__write--content{
      height: 155px;
    }
  }
}

#post__write--content{

  height: 0;
  overflow: hidden;
  @extend .transition;
}

.post__write--title{
  @include header-size(h5);
  font-weight: normal;
  padding: 10px 15px;
 cursor: text;
  color: $medium-gray;
  @extend .user-select;
  @extend .transition;
}
//end COMMENT


.number--list{
  color: $medium-gray;
    font-size: 0.92857rem;
  margin-left: 0.2em;
}